<div class="card">
  <div class="img">
    <img [src]="imgUrl" [alt]="title" width="265" height="150" />
  </div>
  <div class="card-body">
    <div class="card-header">
      <h4>{{ title }}</h4>
      <span>FREE</span>
    </div>
    <div class="card-description">
      <div class="description">
        <p>
          {{ description }}
        </p>
      </div>
      <div class="card-links">
        <a [href]="link">Oficial Page</a>
        <span>{{ category }}</span>
      </div>
    </div>
  </div>
</div>
