<div class="container">
  <div class="img-container">
    <img src="assets/images/main-image.png" alt="Logo Games Sem Custo" />
  </div>
  <div class="text-container">
    <p>
      Explore um universo de entretenimento sem abrir a carteira! <br />
      <strong>Games Sem Custo</strong> é o seu guia para descobrir e aproveitar
      os melhores jogos gratuitos.
    </p>
  </div>
  <div class="buttons-container">
    <div class="buttons__text-container">
      <p>Escolha a Plataforma para Explorar:</p>
    </div>
    <div class="buttons">
      <button routerLink="/browser">Navegador</button>
      <button routerLink="/pc">PC</button>
      <button routerLink="/all">Todos</button>
    </div>
  </div>
</div>
